.QRow {
    width: max-content;
}

.QRow:not(:first-child) {
    margin-top:5px;
}

.QScroll {
    display:flex;
    flex-direction: row;
    --h-color: 90, 90, 90
}

.RowHeader {
    width:max-content;
    --h-color: 128, 128, 128;
    position:sticky;
    left:0px;
}