.QRow {
}

.QRow:not(:first-child) {
    margin-top:5px;
}

.QScroll {
    overflow-x:auto;
    width:100%;
}

.QFlex {
    display:flex;
    flex-direction: row;
    --h-color: 90, 90, 90
}

.RowHeader {
    max-width: 100%;
    width:max-content;
    --h-color: 128, 128, 128;
    position:sticky;
    left:0px;
}