:root {
  background-color: #444;
}

.App {
  max-width:100%;
  height:100vh;
}

.LiveReviewJournal {
  min-height:100vh;
  display: grid;
  grid-template-columns: 6fr 4fr;
  grid-template-rows: fit-content(0);
}

.Editor {
  height:100vh;
  /* position: absolute; */
}