apiVersion: v1
data:
  MONGO_INITDB_ROOT_USERNAME: # PROVIDE A USERNAME
  MONGO_INITDB_ROOT_PASSWORD: # PROVIDE A PASSWORD
kind: Secret
metadata:
  namespace: marknotes
  name: mongodb-secrets
type: Opaque